<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	  <title>Map 2019 Roadmap</title>
	  <link rel="stylesheet" type="text/css" href="styles/style.css">
  </head>
  <body>
    <div class="titleContainer">
      <h4 class="Title">MAY 2019 ROADMAP</h4>
      <div class="titleDecoration"></div>
    </div>
    <div class="navContainer">
    <div class="navButtons">
      <%= link_to "TACTICAL INTERNATIONAL RELEASE PLAN", "intlrelplan", class: "naviLink" %>
    </div>
    </div>
    <br>
    <div class="top">
    <div class="Headers">
      <h3 class="column1">Now</h3>
      <h3 class="column2">Next</h3>
      <h3 class="column3">Later</h3>
    </div>
    </div>

    <!-- The 1st row -->
    <div class="row">
      <div class="rowImg">
        <%= image_tag("row1Logo.png", class: "rowLogo") %>
      </div>
      <div class="columnContent">
        <h3 class="header">
          A/B Testing
        </h3>
        <p>
          Enable easy broadcast performance testing with
          random segments and holdouts
        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Broadcast Experience
        </h3>
        <p>
          Optimize Audience portion of the broadcast experience
        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Segments
        </h3>
        <p>
          Customers wish they could send more targeted and personalized messages
        </p>
      </div>
    </div>

    <!-- The 2nd row -->
    <div class="row">
      <div class="rowImg">
        <%= image_tag("row2Logo.png", class: "rowLogo") %>
      </div>
      <div class="columnContent">
        <h3 class="header">
          Broadcast Update
        </h3>
        <p>
          Improve usability and style of Broadcast Campaign
        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          MMS Expansion
        </h3>
        <p>
          Use MMS in more types of campaigns
        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Chatbot Expansion
        </h3>
        <p>
          Enable more complex campaign flow to collect data and interact with consumers
        </p>
      </div>
    </div>

    <!-- The 3rd row -->
    <div class="row">
      <div class="rowImg">
        <%= image_tag("row3Logo.png", class: "rowLogo") %>
      </div>
      <div class="columnContent">
        <h3 class="header">
          Loyalty
        </h3>
        <p>
          Increase customer loyalty program interaction and participation
        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Audience Acquisition
        </h3>
        <p>
          Increase customer mobile audiences size and data
        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Email Cloud plugins
        </h3>
        <p>
          Additional template types
        </p>
      </div>
    </div>

    <!-- The 4th row -->
    <div class="row">
      <div class="rowImg">
        <%= image_tag("row4Logo.png", class: "rowLogo") %>
      </div>
      <div class="columnContent">
        <h3 class="header">
          Cloud Migration
        </h3>
        <p>
          Enable scaling, faster integration, and more efficient and secure operations
        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          App Inbox
        </h3>
        <p>
          In-app framework for storing and displaying messages
        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Expanded RCS Connectivity
        </h3>
        <p>
          Build on current RCS programs to leverage new channel by more customers
        </p>
      </div>
    </div>

    <!-- The 5th row -->
    <div class="row">
      <div class="rowImg">
        <%= image_tag("row5Logo.png", class: "rowLogo") %>
      </div>
      <div class="columnContent">
        <h3 class="header">
          Data Fluidity
        </h3>
        <p>
          Helping customers increase the flow of data to and from Platform
        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          AI Driven Marketing
        </h3>
        <p>
          Leverage Platform data to empower users to make efficient mobile engagement decisions
        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Analytics-based segmentation
        </h3>
        <p>
          Leverage analytics-based segments in broadcast targets
        </p>
      </div>
    </div>

    <%= image_tag("vibes_white.png", id: "backgroundLogo") %>

  </body>
</html>
