<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	  <title>Tactical International Release Plan</title>
	  <link rel="stylesheet" type="text/css" href="styles/style.css">
  </head>
  <body>
    <div class="titleContainer">
      <h4 class="Title">TACTICAL INTERNATIONAL RELEASE PLAN</h4>
      <div class="titleDecoration"></div>
    </div>
    <div class="navContainer">
    <div class="navButtons">
      <%= link_to "MAY 2019 ROADMAP", "roadmap", class: "naviLink" %>
    </div>
    </div>
    <br>
    <div class="top">
    <div class="Headers">
      <h3 class="column1">May</h3>
      <h3 class="column2">June</h3>
      <h3 class="column3">July</h3>
    </div>
    </div>

    <!-- The 1st row -->
    <div class="row">
      <div class="rowImg">
        <%= image_tag("row1Logo.png", class: "rowLogo") %>
      </div>
      <div class="columnContent">
        <h3 class="header">
          A/B Segments V1
        </h3>
        <p>

        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Filters
        </h3>
        <p>

        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Segments
        </h3>
        <p>

        </p>
      </div>
    </div>

    <!-- The 2nd row -->
    <div class="row">
      <div class="rowImg">
        <%= image_tag("row2Logo.png", class: "rowLogo") %>
      </div>
      <div class="columnContent">
        <h3 class="header">
          Alpha Code Opt In
        </h3>
        <p>

        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Default message routing for chat
        </h3>
        <p>
          Add in Y in other languages
        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Stop Enhancements
        </h3>
        <p>

        </p>
      </div>
    </div>

    <!-- The 3rd row -->
    <div class="row">
      <div class="rowImg">
        <%= image_tag("row3Logo.png", class: "rowLogo") %>
      </div>
      <div class="columnContent">
        <h3 class="header">
          Track Updates
        </h3>
        <p>

        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Android Pay Dynamic Strip Image
        </h3>
        <p>

        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Strip Image UI
        </h3>
        <p>

        </p>
      </div>
    </div>

    <!-- The 4th row -->
    <div class="row">
      <div class="rowImg">
      <%= image_tag("row4Logo.png", class: "rowLogo") %>
      </div>
      <div class="columnContent">
        <h3 class="header">
          International Support
        </h3>
        <p>

        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Vibes Embark App Improvements
        </h3>
        <p>

        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Verified SMS
        </h3>
        <p>
          App Inbox - phase 1
        </p>
      </div>
    </div>

    <!-- The 5th row -->
    <div class="row">
      <div class="rowImg">
      <%= image_tag("row5Logo.png", class: "rowLogo") %>
      </div>
      <div class="columnContent">
        <h3 class="header">
          Data Sharing
        </h3>
        <p>
          Advanced Analytics Updates
        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Broadcast send optimization
        </h3>
        <p>

        </p>
      </div>

      <div class="columnContent">
        <h3 class="header">
          Analytics UI Update
        </h3>
        <p>

        </p>
      </div>
    </div>

    <!-- Vibes logo -->
    <%= image_tag("vibes_white.png", id: "backgroundLogo") %>
  </body>
</html>
